services:
 db:
  image: mysql:5.5
  container_name: bwapp_db
  ports:
   - "127.0.0.1:3306:3306"
  environment:
   MYSQL_ALLOW_EMPTY_PASSWORD: yes
  volumes:
   - bwapp_volume:/var/lib/mysql
  healthcheck:
   test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root"]
   interval: 3s
   timeout: 3s
   retries: 3

 app:
  image: bwapp
  build: .
  container_name: bwapp_app
  volumes:
   - ./custom:/tmp/custom_challs:ro
  environment:
   BWAPP_PHPINI: yes
   BWAPP_CUSTOM_CHALLS: yes
   BWAPP_MORE_FUN:
   BWAPP_AUTO_INSTALL_DB: yes
  ports:
   - "127.0.0.1:8080:80"
  depends_on:
   db:
    condition: service_healthy
  tty: true

volumes:
 bwapp_volume:
